body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  .help-link {
    color: #FFF;
    font-weight: bold;
  }
}